* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    
}



.navbar {
    background-color: #101c73;
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    color: #fff;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 25px;
}

.navbar_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-align: center;
    
}

.navbar-links {
    color: #fff;
}


.navbar-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}



.navbar-btn button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    
}



.navbar-btn button a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}



.navbar-btn button:nth-child(odd) {
    background-color:  #101c73;
    border:solid thin #fff;
}


.navbar-btn button:nth-child(odd) a {
    color: #fff;
}

/*
.navbar-btn button:nth-child(even) {
   
}*/

.navbar-btn button:nth-child(even):hover {
    background-color: #0754b2;
    color: #fff;
    transition: all 0.3s ease-in;
}


.navbar-btn button:nth-child(even) a:hover {
   color: #fff;
}



.navbar-links {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 80px;
    padding: 0 1rem;
    font-size: 1rem;

}




.navbar-links:hover {
    color: #1179FA;
    transition: all 0.3s ease;
}

/*
.btn-link:nth-child(even):hover {
    color: #fff;
    transition: 0.5s;
}*/



#navbar_logo {
    background-color: #fff;
    background-image: linear-gradient(to  top, #C6D1DF 0% #D3E1F3 50% 
    #F4F9FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: tetx;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: fantasy sans-serif;
   
}


.intro {
    margin: 30px 50px;
    height: 500px;
}


.intro-container {
    display: flex;
   
}


.intro-txt {
    /*display: flex;*/
    display: grid;
    flex-direction: column;
    width: 50%;
    align-items: center;
}


#txt-introduction {
    text-align: center;
    position: relative;
    right: 0;
    width: 50%;
    background-color: #101c73;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}


#txt-introduction p {
    color: #fff;
}


.intro-txt h2{
    font-size: 2rem;
    text-align: left;
    width: 90%;
}


.intro-txt p{
    font-size: 1.5rem;
    width: 90%;
}



.intro-btn {
    display: flex;
    width: 60%;
    gap: 50px;
}


.intro-btn button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
}


.intro-btn button a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}


.intro-btn button:nth-child(odd) {
    background-color: #101c73;
}


.intro-btn button:nth-child(odd):hover {
    background-color: #021141;
    transition: all 0.3s ease-in-out;
}


.intro-btn button:nth-child(even):hover {
    background-color: #101c73;
    transition: all 0.3s ease-in-out;
}

.intro-btn button:nth-child(even) a:hover {
    color: #fff;;
    transition: all 0.3s ease-in-out;
}

.intro-btn button:nth-child(odd) a {
    color: #fff;
}

.img-container {
    display: flex;
    justify-content: center;
    width: 50%;
}

.img-container img {
    height: 500px;
    border-radius: 20%;
}


/*Second Section Styles*/

.sect2 {
    width: 90%;
    height: 400px;
    margin: 30px 50px;
    max-width: 1300px;
}

.sect2-container {
    display: flex;
    flex-direction: column;
}

.heading {
    text-align: center;
    position: relative;
    right: 0;
    width: 15%;
    background-color: #101c73;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading p {
    color: #fff;
    font-size: 1.3rem;
}

.heading-and-btn {
    margin-top: 30px;
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.heading-and-btn h2 {
    font-size: 2rem;
    text-align: left;
    width: 90%;
}


.heading-and-btn button {
    background-color: #101c73;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
}


.heading-and-btn button a {
    font-weight: bold;
    color: #fff;
    text-decoration: none;

}

.courses {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    /* gap: 50px; */
}


.courses-item {
    display: flex;
    flex-direction: column;
    background-color: #ecdecbf8;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    margin-top: auto;
    width: 20%;
    height: 200px;
    border-radius: 10px;
}

.courses-item img{

    height: 30%;
    width: 30%;
    /* height: 40px;
    width: 40px; */
}

.courses-item h2, p {
    padding: 10px 0;
}

















/*

/*

@media screen and (min-width: 400px){

    
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5rem;
        transform: translate(5% 20%);
        
    }

     /*The toggle bars animation effect*/
/*
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

     #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    
}


