* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    
}


body {
    background: rgb(245, 245, 245);
}


.navbar {
    background-color: #101c73;
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    color: #fff;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 25px;
}

.navbar_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-align: center;
    
}

.navbar-links {
    color: #fff;
}


.navbar-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}



.navbar-btn button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    
}



.navbar-btn button a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}



.navbar-btn button:nth-child(odd) {
    background-color:  #101c73;
    border:solid thin #fff;
}


.navbar-btn button:nth-child(odd) a {
    color: #fff;
}

/*
.navbar-btn button:nth-child(even) {
   
}*/

.navbar-btn button:nth-child(even):hover {
    background-color: #0754b2;
    color: #fff;
    transition: all 0.3s ease-in;
}


.navbar-btn button:nth-child(even) a:hover {
   color: #fff;
}



.navbar-links {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 80px;
    padding: 0 1rem;
    font-size: 1rem;

}




.navbar-links:hover {
    color: #1179FA;
    transition: all 0.3s ease;
}

/*
.btn-link:nth-child(even):hover {
    color: #fff;
    transition: 0.5s;
}*/



#navbar_logo {
    background-color: #fff;
    background-image: linear-gradient(to  top, #C6D1DF 0% #D3E1F3 50% 
    #F4F9FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: tetx;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: fantasy sans-serif;
   
}

/*First Section Styles*/

.intro {
    margin: 30px 50px;
    height: 500px;
}


.intro-container {
    display: flex;
}


.intro-txt {
    /*display: flex;*/
    display: grid;
    flex-direction: column;
    width: 50%;
    align-items: center;
}


#txt-introduction {
    text-align: center;
    position: relative;
    right: 0;
    width: 50%;
    background-color: #101c73;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}


#txt-introduction p {
    color: #fff;
}


.intro-txt h2{
    font-size: 2rem;
    text-align: left;
    width: 90%;
}


.intro-txt p{
    font-size: 1.5rem;
    width: 90%;
}



.intro-btn {
    display: flex;
    width: 60%;
    gap: 50px;
}


.intro-btn button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
}


.intro-btn button a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}


.intro-btn button:nth-child(odd) {
    background-color: #101c73;
}


.intro-btn button:nth-child(odd):hover {
    background-color: #021141;
    transition: all 0.3s ease-in-out;
}


.intro-btn button:nth-child(even):hover {
    background-color: #101c73;
    transition: all 0.3s ease-in-out;
}

.intro-btn button:nth-child(even) a:hover {
    color: #fff;;
    transition: all 0.3s ease-in-out;
}

.intro-btn button:nth-child(odd) a {
    color: #fff;
}

.img-container {
    display: flex;
    justify-content: center;
    width: 50%;
}

.img-container img {
    height: 500px;
    border-radius: 20px;
}


/*Second Section Styles*/

.sect2 {
    width: 90%;
    height: 400px;
    margin: 30px 50px;
    max-width: 1300px;
}

.sect2-container {
    display: flex;
    flex-direction: column;
}

.heading {
    text-align: center;
    position: relative;
    right: 0;
    width: 15%;
    background-color: #101c73;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading p {
    color: #fff;
    font-size: 1.3rem;
}

.heading-and-btn {
    margin-top: 30px;
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.heading-and-btn h2 {
    font-size: 2rem;
    text-align: left;
    width: 90%;
}


.heading-and-btn button {
    background-color: #101c73;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
}


.heading-and-btn button a {
    font-weight: bold;
    color: #fff;
    text-decoration: none;

}

.courses {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


.courses-item {
    display: flex;
    flex-direction: column;
    background-color: #e0dede;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    margin-top: auto;
    width: 25%;
    height: 200px;
    border-radius: 10px;
}

.courses-item img{

    height: 30%;
    width: 30%;
    /* height: 40px;
    width: 40px; */
}

.courses-item h2, p {
    padding: 10px 0;
}

.courses-item a {
    text-decoration: none;
    color: black;
}


.courses-item a:hover {
    font-size: larger;
}

.courses-item p {
    color: #7e7c7c;
}



/*Third Section Styles*/


.sect3 {
    width: 90%;
    height: 500px;
    margin: 30px 50px;
    max-width: 1300px;
}
.sect3-container {
    display: grid;
    grid-template-columns: [portion1-start]4fr [portion2-start]1fr [portion3-start]3fr;
    grid-template-rows: [row1-start]50px [row2-start]400px [row3-start]50px;
    /* border: solid; */
    border-radius: 20px;
}

.sect3-img {
    grid-row: row1-start / -1;
    grid-column: portion1-start / -2;
    height: 100%;
    border-radius: 20px;
    position: relative;
}

.sect3-img img {
    grid-row: row1-start / -1;
    grid-column: portion1-start / -2;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.sect3-img h2 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

.sect3-offers {
    grid-column: portion2-start / -1;
    grid-row: row2-start / row3-start;
    /* border: solid; */
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "area1 area2"
                          "area3 area4";

    /*The blury background effect*/
    background: rgba(255, 255, 255, 0.5) ;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    -ms-backdrop-filter: blur(15px);
}

.offer {
    background-color: #e0dede;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
}

.offer:nth-child(1) {
    grid-area: area1;
}

.offer:nth-child(2) {
    grid-area: area2;
}

.offer:nth-child(3) {
    grid-area: area3;
}

.offer:nth-child(4) {
    grid-area: area4;
}

.offer img {
    height: 30%;
    width: 30%;
}



/*Fourth Section Styles*/

.sect4 {
    margin-top: 40px;
    width: 90%;
    height: auto;
    margin: 30px 50px;
    max-width: 1300px;
    margin-bottom: 40px;
}

.sect4-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sect4-h2-p {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#internal-div {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    background-color: #f8f8f8;
    height: 50px;
    border: solid thin black;
    font-size: 1.2rem;
    margin-bottom: 10px;
}


.sect4-h2-p h2 {
    font-size: 2rem;
    padding: 20px 0;
}

.sect4-h2-p p {
    font-size: 1.2rem;
    padding: 20px 0;
}

.sect4-content {
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.sect4-img-container {
    width: 32%;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    justify-content: center;
    align-items: self-start;
    padding-bottom: 5px;
}

.sect4-img-container h3 {
    padding: 5px 0;
    padding-top: 20px;
}

.sect4-img-container p {
    font-size: 1.2rem;
    width: 90%;
}

.sect4-container button {
    width: 150px;
    height: 30px;
    border-radius: 5px;
}

.contained-img {
    width: 100%;
    height: 350px;
    
}

.contained-img img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}


/*Footer Styles*/
.footer-section {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    max-width: 1300px;
    background-color: #f1efef;
}

.footer-sect {
    margin: 25px 0;
    width: 92%;
    height: auto;
/* 
    margin: 30px 50px;
    max-width: 1300px;
    background-color: #7e7c7c; */
}

.footer-items-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-top: auto;
} 

.footer-item {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
}

.footer-item h3 {
    font-size: 1rem;
}

.footer-item a {
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
    padding: 10px 0;
}

.footer-item a img {
    height: 20px;
    width: 20px;
}

#footer_logo {
    font-size: 1.2rem;
    font-weight: bold;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.terms-privacy {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.terms-privacy a {
    color: black;
    text-decoration: none;
}









@media screen and (min-width: 400px){    
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5rem;
        transform: translate(5% 20%);
        
    }

     /*The toggle bars animation effect*/
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    .navbar_container {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        width: 100%;
    }

    .intro {
        margin: 30px 50px;
        height: 500px;
    }

    .intro-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;/*
        justify-content: center;
        width: 90%; */
    }


    .intro-txt {
        display: flex;
        flex-direction: column;
        width: 96%;
        /* align-items: center; */
    }

    #txt-introduction {
        text-align: center;
        position: relative;
        width: 100%;
        height: 30px;
        margin: 5px 0;
    }

    #txt-introduction p {
        font-weight: bold;
        font-size: 1.2rem;
    }

    .intro-txt h2{
        font-size: 1.5rem;
        text-align: left;
        width: 100%;
    }


    .intro-txt p{
        font-size: 1rem;
        width: 100%;
    }

    .intro-btn {
        padding: 10px 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }


    .intro-btn button a {
        font-size: 0.7rem;
        font-weight: bold;
    }


    .img-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .img-container img {
        height: 210px;
        width: 96%;
        
    }
    
    
   
}


